<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    <!-- <form method="post" action="listings/<%= listing._id %>?_method=PUT"> -->
        <h2>Edit this listing</h2>
        <input type="text" name="listing[title]" type="text" value=" <%= listing.title %>"><br><br>
        
        <textarea name="listing[description]"  cols="30" rows="5"  > <%= listing.description %> </textarea>
        <br><br>
        <input  name="listing[price]" type="number" value=" <%= listing.price %>"><br><br>
      
            <input type="text" name="listing[image]" type="text" value=" <%= listing.image %>"><br><br>
    
            <input type="text" name="listing[country]" type="text" value=" <%= listing.country%>">
           <br><br>

        <input type="text" name="listing[location]" type="text" value=" <%= listing.location %>">
        <br><br>
        <button>edit</button>
    </form>
   
</body>
</html>